<p class="post-title">#<%= @tag.name %></p>

<% if @tag.posts.empty? %>

  <p>Постов нету</p>

<% else %>

  <% @tag.posts.each do |post| %>


    <div class="post-index mt-5 p-2 border">
      <p class="text-muted float-right"><%= post.created_at.strftime("%B %d, %Y") %></p>
      <p class= "h3"><%= post.title %></p>
      <p><%= post.brief %></p>
      <%= link_to "Читать далее...", post_path(post), class: "h6"%><br>
      <hr>
      <%= raw post.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'badge badge-success'}.join(' ') %>


    </div>

  <% end %>
<% end %>
