<div class="container-info mb-5 border mt-4 ">

  <div class="mb-3 p-1 post-title">
    <%= @post.title %>
  </div>

  <% if user_signed_in? && (current_user.id == @post.user_id) %>
    <p class="ml-2 text-left badge badge-warning border mb-2">Твій пост</p>
  <% end %>

  <%= raw @post.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'ml-2 badge badge-success'}.join(' ') %>

  <p class="text-muted float-right mr-4"><%= @post.created_at.strftime("%B %d, %Y") %></p>

  <div class="mt-5 post-body">
    <p><%= @post.body.html_safe %></p>
  </div>



  <% if user_signed_in? && (current_user.id == @post.user_id) %>
    <hr>
  <div class="row ml-5">
    <%= link_to "Змінити", edit_post_path(@post),
                class: "mb-3 col-2 solid font-weight-bold text-center square_btn edit-button mr-3" %>

    <%= link_to "Видалити", post_path(@post), method: :delete, data: {confirm: "Хотите удалить статью?"},
                class: "mb-3 col-2 font-weight-bold text-center square_btn delete-button" %>
  </div>
    <% end %>
</div>


  <div class="mb-5 p-3 container-info border">
    <%= form_for([@post, @post.comments.build]) do |f| %>

      <% if user_signed_in? %>
        <%= f.hidden_field :username, :value => current_user.name %>
        <% else %>
        <div class="mt-2">
          <label>Користувач:</label>
          <%= f.text_field :username, class: "form-control"%>
        </div>
        <% end %>


      <div class="form-group mt-3">
        <p>Коментар:</p>
        <%= f.text_area :body, class: "form-control"%>
      </div>

      <%= f.submit "Додати коментар", class: "btn btn-block btn-success mt-5"%>

    <% end %>
  </div>


  <% if @post.comments.count != 0 %>
      <% @post.comments.each do |comment| %>
        <% if !comment.username.nil?  %>
          <div class="row mb-2">

            <div class="text-center">
              <p class="ml-3 text-muted p-2"><%= comment.created_at.strftime("%H:%M %d/%m/%Y") %></p>
            </div>

            <div class="text-center">
              <p class="ml-3 font-weight-bold text-success p-2"><%= comment.username %></p>
            </div>

              <p class="ml-3 comment border border-dark col p-2"><%= comment.body %></p>
          </div>
        <% end %>
    <% end %>
  <% end %>


